<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ValidationsP1.Properties.Settings.GestionProductosDBConnectionString"
            connectionString="Data Source=DESKTOP-SMH42I7\Eriberka;Initial Catalog=GestionProductosDB;Persist Security Info=True;User ID=sa;Password=ivana1003;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>